<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Editing</title>
</head>
<body>

<div>
    <h1>Edit book</h1>
</div>
<div>
    <form th:action="@{/librarian/add_book}" th:object="${book}"
          method="post" style="max-width: 900px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Book Id: </label>
                <div class="col-8">
                    <input type="text" th:field="*{id}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Book Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{bookName}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Author: </label>
                <div class="col-8">
                    <input type="text" th:field="*{author}" class="form-control"
                           required minlength="6" maxlength="10" value="${book.author}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Description: </label>
                <div class="col-8">
                    <input type="text" th:field="*{description}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </form>

</div>

<div>
    <form th:action="@{/librarian/profile}" method="get">
        <input type="submit" value="Сancel"/>
    </form>
</div>
</body>
</html>

